@tailwind base;
@tailwind components;
@tailwind utilities;

.programme {
    font-family: 'Programme', sans-serif;
}

@font-face {
    font-family: 'Programme';
    src: url('/fonts/Programme-Regular.woff2') format('woff2'),
        url('/fonts/Programme-Regular.ttf') format('truetype'),
        url('/fonts/Programme-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Set the scrollbar styles like on YouTube */
.dark *::-webkit-scrollbar {
    width: 8px;
    background-color: #000;
    border-radius: 10px;
}

.dark *::-webkit-scrollbar-thumb {
    background-color: #27272a;
    border-radius: 10px;
    border: 2px solid #27272a;
}

.dark *::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #fbcfe8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d8b4fe;
    border-radius: 10px;
    border: 2px solid #d8b4fe;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d8b4fe;
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none;
}